<header class="site-header">
<nav class="nav">
  {% for item in site.navigation %}
      {% assign class = nil %}
      {% if page.url contains item.url %}
      	{% unless item.url == '/' %}	
          {% assign class = 'active' %}
        {% endunless %}
      {% endif %}
      <a href="{{ item.url }}" class="{{ class }}">
          {{ item.title }}
      </a>
  {% endfor %}
</nav>
</header>
