<script src="/js/randomize_link_colors.js"></script>
<script src="/js/retina.min.js"></script>
<script type="text/javascript">
    window.onload = function() {
        randomize_link_colors();
        retinajs();
    };
</script>
