---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site" onload="return randomizeLinkColor()">

    {% include header.html %}

    <main class="site-content">
        {{ content }}
    </main>

    {% include footer.html %}
    
    {% include javascript.html %}

  </body>

</html>
