---
layout: compress
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="site">

    <main class="index site-content">
        <img src="/img/avatar.png" data-rjs="3" class="avatar" alt="Picture of Florian Bürger"> 
      {{ content }}
    </main>

    {% include javascript.html %}

  </body>

</html>
